@model IEnumerable<FileUploadExample.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                <img height="200" src="images/@item.PhotoUrl" alt="@item.Title"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcuctId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcuctId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcuctId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
